/* src/components/Marquee.css */

/* Контейнер для ленты прокрутки */
.marquee-container {
  overflow: hidden; 
  white-space: nowrap; /* Не переносить текст на новую строку */
  box-sizing: border-box; /* Включает отступы и границы в ширину и высоту контейнера */
  background-color: #1A1A19; /* Цвет фона ленты в темной теме */
  color: #ffffff; /* Цвет текста в темной теме */
  padding: 20px; /* Отступы внутри контейнера */
  border-radius: 5px; /* Скругление углов контейнера */
  position: relative; /* Относительное позиционирование для анимации */
  width: 100%; /* Ширина контейнера равна ширине родителя */
  margin-bottom: 20px; /* Отступ снизу контейнера */
  font-size: 150%; /* Размер текста относительно размера контейнера */
}

/* Содержимое ленты прокрутки */
.marquee-content {
  display: inline-block; /* Выравнивание содержимого в одной строке */
  white-space: nowrap; /* Не переносить текст на новую строку */
  animation: marquee 40s linear infinite; /* Анимация прокрутки: 40 секунд, бесконечная, линейная */
  min-width: 50%; /* Минимальная ширина содержимого больше ширины контейнера */
  box-sizing: border-box; /* Включает отступы и границы в ширину содержимого */
}

/* Элементы внутри ленты прокрутки */
.marquee-item {
  display: inline-block; /* Выравнивание элементов в одной строке */
  padding-right: 60px; /* Отступ справа между элементами */
}

/* Анимация прокрутки текста */
@keyframes marquee {
  0% {
    transform: translateX(0%); /* Начальная позиция: за правым краем контейнера */
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%); /* Конечная позиция: за левым краем контейнера */
  }
}

/* Стили для светлой темы */
body:not(.dark-theme) .marquee-container {
  background-color: white; /* Цвет фона ленты в светлой теме */
  color: #1A1A19; /* Цвет текста в светлой теме */
}

/* Стили для темной темы */
body.dark-theme .marquee-container {
  background-color: #1A1A19; /* Цвет фона ленты в темной теме */
  color: #ffffff; /* Цвет текста в темной теме */
}
